# dependencies
node_modules/

# build output
dist/
build/
*.tsbuildinfo

# turbo
.turbo/

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/apps/mobile/ios
/apps/mobile/android

# Metro
.metro-health-check*

# Vite
.vite/

# Playwright
test-results/
playwright-report/
blob-report/

# Supabase local
supabase/.branches/
supabase/.temp/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env
.env
.env.*
!.env.example
